<form method="P0ST" action="{{=URL('update')}}">
<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-with, initial-scale1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and',chrome=1' or ''}}">

  <style >

     body{
    background-image: url('../static/images/background.jpg');
    
    background-size: 100% 800px;
    margin: 0;
    padding: 0;

  }
  .title-box{

  
  }
  .body-box{
    
  }
  h1{
    color: white;
    padding: 10px 14px 4px 500px;
  }
  
  .btn{
    
  
  }
  textarea {
     width: 600px;
     height: 400px;
  }
  </style>

    <!-- [if It IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3/7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
 </head>  

  <body>

  <div class="title-box">
    <label for="title">Title</label>
    <input type="text" name="title" value="{{=note.db_title}}">
  </div>  

  <div class="body-box">
     <label for="body">Body</label>
     <textarea type="text" name="body"   cols="10" >{{=note.db_body}}</textarea>
  </div>

    <div style ="display:none;">
     <label>ID</label>
     <input type="number" name="id"  value="{{=note.id}}">
  </div>
  
  
  <div class="btn">
     <input type="submit" value="Update Note">
  </div>

 </body> 
</form>  