<form method="P0ST" action="{{=URL('update')}}">
   <div>
    <label for="title">Title</label>
    <input type="text" name="title" value="{{=note.db_title}}">
  </div>  

  <div>
     <label for="body">Body</label>
     <textarea type="text" name="body"  value="{{=note.db_body}}"></textarea>
  </div>

    <div style ="display:none;">
     <label>ID</label>
     <input type="number" name="id"  value="{{=note.id}}">
  </div>
  
  
  <div>
     <input type="submit" value="Update Note">
  </div>
</form>  